.btn.btn-lg {
  border-radius: 15px 50px 30px;
  background-color: #DC97AB;
}

.container.admin {
  width: 40%;
  margin-left: 30%;
  margin-top: 8%;
  height: 58vh;
  box-shadow: inset 0 0 200px #AE9CA1;
  padding-left: 4%;
  padding-right: 4%;
}

.container.admin h2 {
  text-align: center;
  font-family: fantasy;
}

.container.admin button {
  margin-top: 8%;
  background-color: #DC97AB;
}

.container.admin #pas {
  margin-top: 4%;
}

.container.sign-up {
  box-shadow: inset 0 0 150px #AE9CA1;
  width: 30%;
  height: 65vh;
  float: left;
  margin-left: 10%;
  margin-top: 4%;
  font-weight: bolder;
  padding-left: 4%;
  padding-right: 4%;
}

.container.sign-up h2 {
  text-align: center;
}

.container.login h2 {
  text-align: center;
}

.container.login {
  box-shadow: inset 0 0 150px #AE9CA1;
  width: 30%;
  height: 50vh;
  float: right;
  margin-right: 10%;
  margin-top: 8%;
  font-weight: bolder;
  padding-left: 4%;
  padding-right: 4%;

}

.container.login button {
  margin-top: 8%;
  background-color: #DC97AB;
}

.container.sign-up button {
  margin-top: 8%;
  background-color: #DC97AB;
}

.container.sign-up #user-0, #pass-0 {
  margin-top: 4%;
}

.container.login #pass {
  margin-top: 4%;
}

.caption {
  font-size: 30px;
  font-family: monospace;
  text-align: center;
  margin-top: 4%;
  color:#FBFBFB;
}
body {
  background-color: #BF3B60;
}
.user-page {
  margin: 4%;
  height: 60vh;
}

.container.user-side1 {
  width: 80%;
  float: left;
  text-align: center;
  font-family: fantasy;
}

.container.user-side2 {
  box-shadow: inset 0 0 30px #ccc;
  width: 20%;
  float: right;
  height: 40vh;
  margin-top: 9%;
}

.window-list {
  display: inline-block;
  box-shadow: 0 0 4px 4px #ccc;
  width: 80%;
  height: 60vh;
  overflow: auto;
}

.btn#view-previous {
  margin-top: 35%;
  margin-left: 8%;
  height: 4em;
}

.form-list {
  width: 80%;
  margin-left: 10%;
}

.window {
  margin-top: 4%;
  border: 2px solid #000;
  width: 30%;
}

.window1 {
  float: right;
}

input.search {
  margin-left: 6%;
  text-align: center;
  color: #000;
  width: 70%;
  margin-top: 20%;
}

.s-inline {
  display: inline-block;
  vertical-align: middle;
}

button.s-inline {
  margin-top: 20%;
}
